<h1> You sure you want to delete "<%= @note.title %>"?</h1>

<form id="delete_form"  action="/note/<%=@note.id%>/delete" method="post">
  <input type='submit' name="delete?" value='NO!'>
  <input type='submit' name="delete?" value='Do It!'>
</form>