<div class="container">
  
  <h1>Notes!</h1>

  <form id='new_note' action='/note/new' method='post'>
    <input id='new_title' type='text' name='note[title]' placeholder='Sup?' required>
    <textarea id='new_content' name='note[content]' placeholder='No, really, sup?' required></textarea>
    <input id='new_button' type='submit' value='Save It!'>
  </form>

<%= erb notes? %>

</div>
